# Preparação dos dados para a detecção de outliers

In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# Carrega a base de dados da SiGesGuarda
df = pd.read_csv('../../02 - Analise exploratoria/Datasets/sigesguarda.csv', sep=';', encoding='latin-1')
df = df.drop(0)
df.head(10)

C:\Users\breno\AppData\Local\Temp\ipykernel_16280\2570529895.py:6: DtypeWarning: Columns (0,6,8,10,12,14,15,19,20,21,22,26,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../02 - Analise exploratoria/Datasets/sigesguarda.csv', sep=';', encoding='latin-1')

,ATENDIMENTO_ANO,ATENDIMENTO_BAIRRO_NOME,EQUIPAMENTO_URBANO_NOME,FLAG_EQUIPAMENTO_URBANO,FLAG_FLAGRANTE,LOGRADOURO_NOME,NATUREZA1_DEFESA_CIVIL,NATUREZA1_DESCRICAO,NATUREZA2_DEFESA_CIVIL,NATUREZA2_DESCRICAO,...,OCORRENCIA_HORA,OCORRENCIA_MES,OPERACAO_DESCRICAO,ORIGEM_CHAMADO_DESCRICAO,REGIONAL_FATO_NOME,SECRETARIA_NOME,SECRETARIA_SIGLA,SERVICO_NOME,SITUACAO_EQUIPE_DESCRICAO,NUMERO_PROTOCOLO_156
1,2009,CIDADE INDUSTRIAL,NaN,NÃO,NÃO,DAVI XAVIER DA SILVA,0,Alarmes,NaN,NaN,...,15:14:00,1,NaN,.,CIC,FUNDAÇÃO DE AÇÃO SOCIAL,FAS,SIGA,NaN,NaN
2,2009,FAZENDINHA,BOSQUE DA FAZENDINHA,SIM,NÃO,CARLOS KLEMTZ,0,Roubo,NaN,NaN,...,15:22:00,1,NaN,153,PORTÃO,SECRETARIA MUNICIPAL MEIO AMBIENTE,SMMA,NORMAL,NaN,NaN
3,2009,UBERABA,NaN,NÃO,NÃO,DOUTOR JOÃO DE PAULA MOURA BRITO,0,Animais,NaN,NaN,...,15:59:00,1,NaN,156,CAJURU,SECRETARIA MUNICIPAL DA SAÚDE,SMS,SACAF,NaN,2640856
4,2009,SÍTIO CERCADO,NaN,NÃO,NÃO,EDGARD CAVALCANTI DE ALBUQUERQUE,0,Animais,NaN,NaN,...,16:13:00,1,NaN,156,BAIRRO NOVO,SECRETARIA MUNICIPAL DA SAÚDE,SMS,SACAF,NaN,2640854
5,2009,TATUQUARA,CENTRO DE ESPORTE E LAZER SANTA RITA,SIM,NÃO,CARLOS MUNHOZ DA ROCHA,0,Alarmes,NaN,NaN,...,16:29:00,1,NaN,.,PINHEIRINHO,FUNDAÇÃO DE AÇÃO SOCIAL,FAS,SIGA,NaN,NaN
6,2009,SÍTIO CERCADO,NaN,NÃO,NÃO,HUSSEIN IBRAHIM OMAIRY,0,Alarmes,NaN,NaN,...,14:00:00,1,NaN,.,BAIRRO NOVO,FUNDAÇÃO DE AÇÃO SOCIAL,FAS,SIGA,NaN,NaN
7,2009,SANTA CÂNDIDA,CEMITÉRIO MUNICIPAL SANTA CÂNDIDA,SIM,NÃO,NOVA DE COLOMBO,0,Trânsito,NaN,NaN,...,16:45:00,1,NaN,IMEDIATA,BOA VISTA,SECRETARIA MUNICIPAL DE DEFESA SOCIAL E TRANSITO,SMDT,NORMAL,NaN,NaN
8,2009,BOQUEIRÃO,CENTRO DE REFERÊNCIA DA ASSISTÊNCIA SOCIAL CRA...,SIM,NÃO,CARLOS ESSENFELDER,0,Alarmes,NaN,NaN,...,17:45:00,1,NaN,.,BOQUEIRÃO,FUNDAÇÃO DE AÇÃO SOCIAL,FAS,SIGA,NaN,NaN
9,2009,CENTRO,NaN,NÃO,SIM,PRESIDENTE FARIA,0,Roubo,NaN,NaN,...,14:20:00,1,NaN,IMEDIATA,MATRIZ,SECRETARIA MUNICIPAL DE DEFESA SOCIAL E TRANSITO,SMDT,GOE,NaN,NaN
10,2009,BOA VISTA,CENTRO MUNICIPAL DE EDUCAÇÃO INFANTIL NOSSA SE...,SIM,NÃO,SANTA EDWIGES,0,Invasão,NaN,NaN,...,18:04:00,1,NaN,156,BOA VISTA,SECRETARIA MUNICIPAL DA EDUCAÇÃO,SME,NORMAL,NaN,NaN

In [50]:
# Seleciona apenas as colunas relevantes ligadas a data e hora, local e tipo de ocorrência
df = df[['OCORRENCIA_DATA', 'OCORRENCIA_ANO', 'OCORRENCIA_MES', 'OCORRENCIA_DIA_SEMANA', 'OCORRENCIA_HORA', 'ATENDIMENTO_BAIRRO_NOME', 'NATUREZA1_DESCRICAO']]
df

,OCORRENCIA_DATA,OCORRENCIA_ANO,OCORRENCIA_MES,OCORRENCIA_DIA_SEMANA,OCORRENCIA_HORA,ATENDIMENTO_BAIRRO_NOME,NATUREZA1_DESCRICAO
1,2009-01-01 15:14:00.000,2009,1,QUINTA,15:14:00,CIDADE INDUSTRIAL,Alarmes
2,2009-01-01 15:22:00.000,2009,1,QUINTA,15:22:00,FAZENDINHA,Roubo
3,2009-01-01 15:59:00.000,2009,1,QUINTA,15:59:00,UBERABA,Animais
4,2009-01-01 16:13:00.000,2009,1,QUINTA,16:13:00,SÍTIO CERCADO,Animais
5,2009-01-01 16:29:00.000,2009,1,QUINTA,16:29:00,TATUQUARA,Alarmes
...,...,...,...,...,...,...,...
429342,2022-12-12 06:09:00.000,2022,12,SEGUNDA,06:09:00,PORTÃO,Ameaça
429343,2022-12-12 06:26:00.000,2022,12,SEGUNDA,06:26:00,SÍTIO CERCADO,Roubo
429344,2022-12-12 06:28:00.000,2022,12,SEGUNDA,06:28:00,JARDIM BOTÂNICO,Apoio
429345,2022-12-12 06:35:00.000,2022,12,SEGUNDA,06:35:00,JARDIM BOTÂNICO,Avaria em Equipamento/Patrimônio (não intencio...
429346,2022-12-12 07:21:00.000,2022,12,SEGUNDA,07:21:00,XAXIM,Importunação sexual

In [52]:
# Renomeia as colunas do data frame
column_mapping = {'OCORRENCIA_DATA' : 'data', 
                  'OCORRENCIA_ANO' : 'ano',
                  'OCORRENCIA_MES' : 'mes',
                  'OCORRENCIA_DIA_SEMANA' : 'diaSemana',
                  'OCORRENCIA_HORA' : 'horario',
                  'ATENDIMENTO_BAIRRO_NOME' : 'bairro',
                  'NATUREZA1_DESCRICAO' : 'ocorrencia'}

df = df.rename(columns=column_mapping)
df

,data,ano,mes,diaSemana,horario,bairro,ocorrencia
1,2009-01-01 15:14:00.000,2009,1,QUINTA,15:14:00,CIDADE INDUSTRIAL,Alarmes
2,2009-01-01 15:22:00.000,2009,1,QUINTA,15:22:00,FAZENDINHA,Roubo
3,2009-01-01 15:59:00.000,2009,1,QUINTA,15:59:00,UBERABA,Animais
4,2009-01-01 16:13:00.000,2009,1,QUINTA,16:13:00,SÍTIO CERCADO,Animais
5,2009-01-01 16:29:00.000,2009,1,QUINTA,16:29:00,TATUQUARA,Alarmes
...,...,...,...,...,...,...,...
429342,2022-12-12 06:09:00.000,2022,12,SEGUNDA,06:09:00,PORTÃO,Ameaça
429343,2022-12-12 06:26:00.000,2022,12,SEGUNDA,06:26:00,SÍTIO CERCADO,Roubo
429344,2022-12-12 06:28:00.000,2022,12,SEGUNDA,06:28:00,JARDIM BOTÂNICO,Apoio
429345,2022-12-12 06:35:00.000,2022,12,SEGUNDA,06:35:00,JARDIM BOTÂNICO,Avaria em Equipamento/Patrimônio (não intencio...
429346,2022-12-12 07:21:00.000,2022,12,SEGUNDA,07:21:00,XAXIM,Importunação sexual

In [53]:
# Converte as colunas necessárias para os tipos corretos
df['data'] = pd.to_datetime(df['data'])
df['ano'] = df['ano'].astype(int)
df['mes'] = df['mes'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429346 entries, 1 to 429346
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   data        429346 non-null  datetime64[ns]
 1   ano         429346 non-null  int32
 2   mes         429346 non-null  int32
 3   diaSemana   429346 non-null  object
 4   horario     429346 non-null  object
 5   bairro      429201 non-null  object
 6   ocorrencia  429346 non-null  object
dtypes: datetime64[ns](1), int32(2), object(4)
memory usage: 19.7+ MB

In [54]:
# Transforma todas as colunas contendo textos para apenas letras minúsculas
df['diaSemana'] = df['diaSemana'].str.lower()
df['bairro'] = df['bairro'].str.lower()
df['ocorrencia'] = df['ocorrencia'].str.lower()
df.head(5)

,data,ano,mes,diaSemana,horario,bairro,ocorrencia
1,2009-01-01 15:14:00,2009,1,quinta,15:14:00,cidade industrial,alarmes
2,2009-01-01 15:22:00,2009,1,quinta,15:22:00,fazendinha,roubo
3,2009-01-01 15:59:00,2009,1,quinta,15:59:00,uberaba,animais
4,2009-01-01 16:13:00,2009,1,quinta,16:13:00,sítio cercado,animais
5,2009-01-01 16:29:00,2009,1,quinta,16:29:00,tatuquara,alarmes

In [55]:
# Extrai apenas a hora da coluna 'horario' e insere o valor em uma nova coluna
df['hora'] = df['horario'].str[:2]
df['hora'] = df['hora'].astype(int)
df.head(5)

,data,ano,mes,diaSemana,horario,bairro,ocorrencia,hora
1,2009-01-01 15:14:00,2009,1,quinta,15:14:00,cidade industrial,alarmes,15
2,2009-01-01 15:22:00,2009,1,quinta,15:22:00,fazendinha,roubo,15
3,2009-01-01 15:59:00,2009,1,quinta,15:59:00,uberaba,animais,15
4,2009-01-01 16:13:00,2009,1,quinta,16:13:00,sítio cercado,animais,16
5,2009-01-01 16:29:00,2009,1,quinta,16:29:00,tatuquara,alarmes,16

In [56]:
# Adiciona uma nova coluna indicando o período de tempo da ocorrência baseado na hora
# das 0h até 6h -> madrugada
# das 6h até 12h -> manhã
# das 12h até 18h -> tarde
# das 18h até 0h -> noite

conditions = [
    (df['hora'] >= 0) & (df['hora'] < 6),
    (df['hora'] >= 6) & (df['hora'] < 12),
    (df['hora'] >= 12) & (df['hora'] < 18),
    (df['hora'] >= 18) & (df['hora'] <= 23)
]

choices = ['madrugada', 'manhã', 'tarde', 'noite']

df['periodoDia'] = np.select(conditions, choices, default='Unknown')
df.head(5)

,data,ano,mes,diaSemana,horario,bairro,ocorrencia,hora,periodoDia
1,2009-01-01 15:14:00,2009,1,quinta,15:14:00,cidade industrial,alarmes,15,tarde
2,2009-01-01 15:22:00,2009,1,quinta,15:22:00,fazendinha,roubo,15,tarde
3,2009-01-01 15:59:00,2009,1,quinta,15:59:00,uberaba,animais,15,tarde
4,2009-01-01 16:13:00,2009,1,quinta,16:13:00,sítio cercado,animais,16,tarde
5,2009-01-01 16:29:00,2009,1,quinta,16:29:00,tatuquara,alarmes,16,tarde

In [57]:
# Remove linhas duplicadas
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 427163 entries, 1 to 429346
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   data        427163 non-null  datetime64[ns]
 1   ano         427163 non-null  int32
 2   mes         427163 non-null  int32
 3   diaSemana   427163 non-null  object
 4   horario     427163 non-null  object
 5   bairro      427019 non-null  object
 6   ocorrencia  427163 non-null  object
 7   hora        427163 non-null  int32
 8   periodoDia  427163 non-null  object
dtypes: datetime64[ns](1), int32(3), object(5)
memory usage: 27.7+ MB

In [58]:
# Seleciona apenas 12 tipos de ocorrência. 
# Essas ocorrências são criminais, em contraste com a maior parte das ocorrências que não tem essa natureza
df = df[df['ocorrencia'].isin(['agressão física/verbal', 'crime ambiental', 'dano', 'estupro', 'furto', 'homicídio', 'maus tratos a animais', 'roubo', 'seqüestro e cárcere privado', 'substância Ilícita', 'violação de medida protetiva lei maria da penha', 'porte ilegal'])]
df.head(10)

,data,ano,mes,diaSemana,horario,bairro,ocorrencia,hora,periodoDia
2,2009-01-01 15:22:00,2009,1,quinta,15:22:00,fazendinha,roubo,15,tarde
9,2009-01-01 14:20:00,2009,1,quinta,14:20:00,centro,roubo,14,tarde
31,2009-01-02 00:58:00,2009,1,sexta,00:58:00,capão raso,roubo,0,madrugada
32,2009-01-02 00:21:00,2009,1,sexta,00:21:00,novo mundo,dano,0,madrugada
45,2009-01-02 12:40:00,2009,1,sexta,12:40:00,centro,roubo,12,tarde
47,2009-01-02 14:05:00,2009,1,sexta,14:05:00,barreirinha,dano,14,tarde
48,2009-01-05 15:25:00,2009,1,segunda,15:25:00,cidade industrial,roubo,15,tarde
56,2009-01-02 15:00:00,2009,1,sexta,15:00:00,centro,furto,15,tarde
57,2009-01-02 15:15:00,2009,1,sexta,15:15:00,santa felicidade,dano,15,tarde
135,2009-01-02 21:25:00,2009,1,sexta,21:25:00,cajuru,dano,21,noite

In [69]:
# Retirna linhas onde o bairro não foi informado, tem o valor 'bairro fictício' ou tem valor nulo
# Também corrige nomes de bairros não formatados corretamente
df = df[~(df['bairro'] == 'bairro nao informado')]
df = df[~(df['bairro'] == 'bairro fictício')]
df['bairro'] = df['bairro'].replace('centro ', 'centro')
df['bairro'] = df['bairro'].replace('tingüi', 'tingui')
df= df.dropna(subset=['bairro'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78513 entries, 2 to 429343
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   data        78513 non-null  datetime64[ns]
 1   ano         78513 non-null  int32
 2   mes         78513 non-null  int32
 3   diaSemana   78513 non-null  object
 4   horario     78513 non-null  object
 5   bairro      78513 non-null  object
 6   ocorrencia  78513 non-null  object
 7   hora        78513 non-null  int32
 8   periodoDia  78513 non-null  object
dtypes: datetime64[ns](1), int32(3), object(5)
memory usage: 5.1+ MB

In [79]:
# Adiciona uma nova coluna indicando a região de Curitiba com base no bairro.
# Mapeamento baseado em: https://pt.wikipedia.org/wiki/Lista_de_bairros_de_Curitiba

conditions = {
    'ganchinho': 'bairro novo',
    'sítio cercado': 'bairro novo',
    'umbará': 'bairro novo',
    
    'abranches': 'boa vista',
    'atuba': 'boa vista',
    'bacacheri': 'boa vista',
    'bairro alto': 'boa vista',
    'barreirinha': 'boa vista',
    'boa vista': 'boa vista',
    'cachoeira': 'boa vista',
    'pilarzinho': 'boa vista',
    'santa cândida': 'boa vista',
    'são lourenço': 'boa vista',
    'taboão': 'boa vista',
    'tarumã': 'boa vista',
    'tingui': 'boa vista',
    
    'alto boqueirão': 'boqueirão',
    'boqueirão': 'boqueirão',
    'hauer': 'boqueirão',
    'xaxim': 'boqueirão',
    
    'cajuru': 'cajuru',
    'capão da imbuia': 'cajuru',
    'guabirotuba': 'cajuru',
    'jardim das américas': 'cajuru',
    'uberaba': 'cajuru',
    
    'augusta': 'cic',
    'cidade industrial': 'cic',
    'riviera': 'cic',
    'são miguel': 'cic',
    
    'água verde': 'fazendinha portão',
    'campo comprido': 'fazendinha portão',
    'fanny': 'fazendinha portão',
    'fazendinha': 'fazendinha portão',
    'guaíra': 'fazendinha portão',
    'novo mundo': 'fazendinha portão',
    'lindóia': 'fazendinha portão',
    'parolin': 'fazendinha portão',
    'portão': 'fazendinha portão',
    'santa quitéria': 'fazendinha portão',
    'vila izabel': 'fazendinha portão',
    
    'ahú': 'matriz',
    'alto da glória': 'matriz',
    'alto da rua xv': 'matriz',
    'batel': 'matriz',
    'bigorrilho': 'matriz',
    'bom retiro': 'matriz',
    'cabral': 'matriz',
    'centro': 'matriz',
    'centro cívico': 'matriz',
    'cristo rei': 'matriz',
    'hugo lange': 'matriz',
    'jardim botânico': 'matriz',
    'jardim social': 'matriz',
    'juvevê': 'matriz',
    'mercês': 'matriz',
    'prado velho': 'matriz',
    'rebouças': 'matriz',
    'são francisco': 'matriz',
    
    'campo de santana': 'pinheirinho',
    'capão raso': 'pinheirinho',
    'caximba': 'pinheirinho',
    'pinheirinho': 'pinheirinho',
    'tatuquara': 'pinheirinho',
    
    'butiatuvinha': 'santa felicidade',
    'campina do siqueira': 'santa felicidade',
    'campo comprido': 'santa felicidade',
    'cascatinha': 'santa felicidade',
    'lamenha pequena': 'santa felicidade',
    'mossunguê': 'santa felicidade',
    'orleans': 'santa felicidade',
    'santa felicidade': 'santa felicidade',
    'santo inácio': 'santa felicidade',
    'são braz': 'santa felicidade',
    'são joão': 'santa felicidade',
    'seminário': 'santa felicidade',
    'vista alegre': 'santa felicidade'
}

df['regiao'] = df['bairro'].map(conditions)
df.head(10)

,data,ano,mes,diaSemana,horario,bairro,ocorrencia,hora,periodoDia,regiao
2,2009-01-01 15:22:00,2009,1,quinta,15:22:00,fazendinha,roubo,15,tarde,fazendinha portão
9,2009-01-01 14:20:00,2009,1,quinta,14:20:00,centro,roubo,14,tarde,matriz
31,2009-01-02 00:58:00,2009,1,sexta,00:58:00,capão raso,roubo,0,madrugada,pinheirinho
32,2009-01-02 00:21:00,2009,1,sexta,00:21:00,novo mundo,dano,0,madrugada,fazendinha portão
45,2009-01-02 12:40:00,2009,1,sexta,12:40:00,centro,roubo,12,tarde,matriz
47,2009-01-02 14:05:00,2009,1,sexta,14:05:00,barreirinha,dano,14,tarde,boa vista
48,2009-01-05 15:25:00,2009,1,segunda,15:25:00,cidade industrial,roubo,15,tarde,cic
56,2009-01-02 15:00:00,2009,1,sexta,15:00:00,centro,furto,15,tarde,matriz
57,2009-01-02 15:15:00,2009,1,sexta,15:15:00,santa felicidade,dano,15,tarde,santa felicidade
135,2009-01-02 21:25:00,2009,1,sexta,21:25:00,cajuru,dano,21,noite,cajuru

In [81]:
# Localiza linhas sem região
aux = df[df['regiao'].isnull()]
aux

,data,ano,mes,diaSemana,horario,bairro,ocorrencia,hora,periodoDia,regiao
260163,2019-11-13 13:20:00,2019,11,quarta,13:20:00,loteamento são gerôn,porte ilegal,13,tarde,NaN
274707,2020-03-15 01:37:00,2020,3,domingo,01:37:00,maracanã,agressão física/verbal,1,madrugada,NaN
281566,2020-05-04 14:30:00,2020,5,segunda,14:30:00,jd ipe,furto,14,tarde,NaN

In [82]:
# Remove linhas sem região
df = df.dropna(subset=['regiao'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78510 entries, 2 to 429343
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   data        78510 non-null  datetime64[ns]
 1   ano         78510 non-null  int32
 2   mes         78510 non-null  int32
 3   diaSemana   78510 non-null  object
 4   horario     78510 non-null  object
 5   bairro      78510 non-null  object
 6   ocorrencia  78510 non-null  object
 7   hora        78510 non-null  int32
 8   periodoDia  78510 non-null  object
 9   regiao      78510 non-null  object
dtypes: datetime64[ns](1), int32(3), object(6)
memory usage: 5.7+ MB

In [83]:
# Reorganiza a ordem das colunas do dataframe
df = df[['data', 'ano', 'mes', 'diaSemana', 'horario', 'hora', 'periodoDia', 'bairro', 'regiao', 'ocorrencia']]
df

,data,ano,mes,diaSemana,horario,hora,periodoDia,bairro,regiao,ocorrencia
2,2009-01-01 15:22:00,2009,1,quinta,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo
9,2009-01-01 14:20:00,2009,1,quinta,14:20:00,14,tarde,centro,matriz,roubo
31,2009-01-02 00:58:00,2009,1,sexta,00:58:00,0,madrugada,capão raso,pinheirinho,roubo
32,2009-01-02 00:21:00,2009,1,sexta,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano
45,2009-01-02 12:40:00,2009,1,sexta,12:40:00,12,tarde,centro,matriz,roubo
...,...,...,...,...,...,...,...,...,...,...
429315,2022-12-11 20:52:00,2022,12,domingo,20:52:00,20,noite,tatuquara,pinheirinho,roubo
429316,2022-12-11 20:33:00,2022,12,domingo,20:33:00,20,noite,rebouças,matriz,roubo
429331,2022-12-11 23:40:00,2022,12,domingo,23:40:00,23,noite,centro,matriz,roubo
429341,2022-12-12 05:44:00,2022,12,segunda,05:44:00,5,madrugada,boqueirão,boqueirão,agressão física/verbal
429343,2022-12-12 06:26:00,2022,12,segunda,06:26:00,6,manhã,sítio cercado,bairro novo,roubo

In [85]:
# Cria uma nova coluna indicando se é dia útil ou fim de semana com base no nome do dia da semana
conditions = {
    'domingo': 'fim de semana',
    'segunda': 'dia útil',
    'terça': 'dia útil',
    'quarta': 'dia útil',
    'quinta': 'dia útil',
    'sexta': 'dia útil',
    'sábado': 'fim de semana'
}

df['tipoDia'] = df['diaSemana'].map(conditions)
df

,data,ano,mes,diaSemana,horario,hora,periodoDia,bairro,regiao,ocorrencia,tipoDia
2,2009-01-01 15:22:00,2009,1,quinta,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo,dia útil
9,2009-01-01 14:20:00,2009,1,quinta,14:20:00,14,tarde,centro,matriz,roubo,dia útil
31,2009-01-02 00:58:00,2009,1,sexta,00:58:00,0,madrugada,capão raso,pinheirinho,roubo,dia útil
32,2009-01-02 00:21:00,2009,1,sexta,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano,dia útil
45,2009-01-02 12:40:00,2009,1,sexta,12:40:00,12,tarde,centro,matriz,roubo,dia útil
...,...,...,...,...,...,...,...,...,...,...,...
429315,2022-12-11 20:52:00,2022,12,domingo,20:52:00,20,noite,tatuquara,pinheirinho,roubo,fim de semana
429316,2022-12-11 20:33:00,2022,12,domingo,20:33:00,20,noite,rebouças,matriz,roubo,fim de semana
429331,2022-12-11 23:40:00,2022,12,domingo,23:40:00,23,noite,centro,matriz,roubo,fim de semana
429341,2022-12-12 05:44:00,2022,12,segunda,05:44:00,5,madrugada,boqueirão,boqueirão,agressão física/verbal,dia útil
429343,2022-12-12 06:26:00,2022,12,segunda,06:26:00,6,manhã,sítio cercado,bairro novo,roubo,dia útil

In [86]:
# Reorganiza a ordem das colunas do dataframe
df = df[['data', 'ano', 'mes', 'diaSemana', 'tipoDia', 'horario', 'hora', 'periodoDia', 'bairro', 'regiao', 'ocorrencia']]
df

,data,ano,mes,diaSemana,tipoDia,horario,hora,periodoDia,bairro,regiao,ocorrencia
2,2009-01-01 15:22:00,2009,1,quinta,dia útil,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo
9,2009-01-01 14:20:00,2009,1,quinta,dia útil,14:20:00,14,tarde,centro,matriz,roubo
31,2009-01-02 00:58:00,2009,1,sexta,dia útil,00:58:00,0,madrugada,capão raso,pinheirinho,roubo
32,2009-01-02 00:21:00,2009,1,sexta,dia útil,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano
45,2009-01-02 12:40:00,2009,1,sexta,dia útil,12:40:00,12,tarde,centro,matriz,roubo
...,...,...,...,...,...,...,...,...,...,...,...
429315,2022-12-11 20:52:00,2022,12,domingo,fim de semana,20:52:00,20,noite,tatuquara,pinheirinho,roubo
429316,2022-12-11 20:33:00,2022,12,domingo,fim de semana,20:33:00,20,noite,rebouças,matriz,roubo
429331,2022-12-11 23:40:00,2022,12,domingo,fim de semana,23:40:00,23,noite,centro,matriz,roubo
429341,2022-12-12 05:44:00,2022,12,segunda,dia útil,05:44:00,5,madrugada,boqueirão,boqueirão,agressão física/verbal
429343,2022-12-12 06:26:00,2022,12,segunda,dia útil,06:26:00,6,manhã,sítio cercado,bairro novo,roubo

In [88]:
# Cria uma nova coluna contendo o nome dos meses com base no número do mês
# Isso é necessário para a codificação utilizando o One-Hot-Encoder
conditions = {
    1 : 'janeiro',
    2 : 'fevereiro',
    3 : 'março',
    4  : 'abril',
    5: 'maio',
    6: 'junho',
    7: 'julho',
    8: 'agosto',
    9: 'setembro',
    10: 'outubro',
    11 : 'novembro',
    12 : 'dezembro'
}

df['mesNome'] = df['mes'].map(conditions)
df

C:\Users\breno\AppData\Local\Temp\ipykernel_16280\1956686214.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mesNome'] = df['mes'].map(conditions)

,data,ano,mes,diaSemana,tipoDia,horario,hora,periodoDia,bairro,regiao,ocorrencia,mesNome
2,2009-01-01 15:22:00,2009,1,quinta,dia útil,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo,janeiro
9,2009-01-01 14:20:00,2009,1,quinta,dia útil,14:20:00,14,tarde,centro,matriz,roubo,janeiro
31,2009-01-02 00:58:00,2009,1,sexta,dia útil,00:58:00,0,madrugada,capão raso,pinheirinho,roubo,janeiro
32,2009-01-02 00:21:00,2009,1,sexta,dia útil,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano,janeiro
45,2009-01-02 12:40:00,2009,1,sexta,dia útil,12:40:00,12,tarde,centro,matriz,roubo,janeiro
...,...,...,...,...,...,...,...,...,...,...,...,...
429315,2022-12-11 20:52:00,2022,12,domingo,fim de semana,20:52:00,20,noite,tatuquara,pinheirinho,roubo,dezembro
429316,2022-12-11 20:33:00,2022,12,domingo,fim de semana,20:33:00,20,noite,rebouças,matriz,roubo,dezembro
429331,2022-12-11 23:40:00,2022,12,domingo,fim de semana,23:40:00,23,noite,centro,matriz,roubo,dezembro
429341,2022-12-12 05:44:00,2022,12,segunda,dia útil,05:44:00,5,madrugada,boqueirão,boqueirão,agressão física/verbal,dezembro
429343,2022-12-12 06:26:00,2022,12,segunda,dia útil,06:26:00,6,manhã,sítio cercado,bairro novo,roubo,dezembro

In [89]:
# Reorganiza a ordem das colunas do dataframe
df = df[['data', 'ano', 'mes', 'mesNome', 'diaSemana', 'tipoDia', 'horario', 'hora', 'periodoDia', 'bairro', 'regiao', 'ocorrencia']]
df

,data,ano,mes,mesNome,diaSemana,tipoDia,horario,hora,periodoDia,bairro,regiao,ocorrencia
2,2009-01-01 15:22:00,2009,1,janeiro,quinta,dia útil,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo
9,2009-01-01 14:20:00,2009,1,janeiro,quinta,dia útil,14:20:00,14,tarde,centro,matriz,roubo
31,2009-01-02 00:58:00,2009,1,janeiro,sexta,dia útil,00:58:00,0,madrugada,capão raso,pinheirinho,roubo
32,2009-01-02 00:21:00,2009,1,janeiro,sexta,dia útil,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano
45,2009-01-02 12:40:00,2009,1,janeiro,sexta,dia útil,12:40:00,12,tarde,centro,matriz,roubo
...,...,...,...,...,...,...,...,...,...,...,...,...
429315,2022-12-11 20:52:00,2022,12,dezembro,domingo,fim de semana,20:52:00,20,noite,tatuquara,pinheirinho,roubo
429316,2022-12-11 20:33:00,2022,12,dezembro,domingo,fim de semana,20:33:00,20,noite,rebouças,matriz,roubo
429331,2022-12-11 23:40:00,2022,12,dezembro,domingo,fim de semana,23:40:00,23,noite,centro,matriz,roubo
429341,2022-12-12 05:44:00,2022,12,dezembro,segunda,dia útil,05:44:00,5,madrugada,boqueirão,boqueirão,agressão física/verbal
429343,2022-12-12 06:26:00,2022,12,dezembro,segunda,dia útil,06:26:00,6,manhã,sítio cercado,bairro novo,roubo

In [90]:
# Extrai somento o dia da ocorrência e adiciona o valor em uma nova coluna
df['dia'] = df['data'].dt.day
df

C:\Users\breno\AppData\Local\Temp\ipykernel_16280\4249407116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dia'] = df['data'].dt.day

,data,ano,mes,mesNome,diaSemana,tipoDia,horario,hora,periodoDia,bairro,regiao,ocorrencia,dia
2,2009-01-01 15:22:00,2009,1,janeiro,quinta,dia útil,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo,1
9,2009-01-01 14:20:00,2009,1,janeiro,quinta,dia útil,14:20:00,14,tarde,centro,matriz,roubo,1
31,2009-01-02 00:58:00,2009,1,janeiro,sexta,dia útil,00:58:00,0,madrugada,capão raso,pinheirinho,roubo,2
32,2009-01-02 00:21:00,2009,1,janeiro,sexta,dia útil,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano,2
45,2009-01-02 12:40:00,2009,1,janeiro,sexta,dia útil,12:40:00,12,tarde,centro,matriz,roubo,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
429315,2022-12-11 20:52:00,2022,12,dezembro,domingo,fim de semana,20:52:00,20,noite,tatuquara,pinheirinho,roubo,11
429316,2022-12-11 20:33:00,2022,12,dezembro,domingo,fim de semana,20:33:00,20,noite,rebouças,matriz,roubo,11
429331,2022-12-11 23:40:00,2022,12,dezembro,domingo,fim de semana,23:40:00,23,noite,centro,matriz,roubo,11
429341,2022-12-12 05:44:00,2022,12,dezembro,segunda,dia útil,05:44:00,5,madrugada,boqueirão,boqueirão,agressão física/verbal,12
429343,2022-12-12 06:26:00,2022,12,dezembro,segunda,dia útil,06:26:00,6,manhã,sítio cercado,bairro novo,roubo,12

In [94]:
# Adiciona u a nova coluna que indica a semana do mês ao qual o dia pertence. Separado em quatro semanas.
conditions = [
    (df['dia'] >= 1) & (df['dia'] <= 7),
    (df['dia'] >= 8) & (df['dia'] <= 14),
    (df['dia'] >= 15) & (df['dia'] <= 21),
    (df['dia'] >= 22)
]

choices = ['s1', 's2', 's3', 's4']

df['semana'] = np.select(conditions, choices, default='Unknown')
df.head(5)

C:\Users\breno\AppData\Local\Temp\ipykernel_16280\1052620468.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['semana'] = np.select(conditions, choices, default='Unknown')

,data,ano,mes,mesNome,diaSemana,tipoDia,horario,hora,periodoDia,bairro,regiao,ocorrencia,dia,semana
2,2009-01-01 15:22:00,2009,1,janeiro,quinta,dia útil,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo,1,s1
9,2009-01-01 14:20:00,2009,1,janeiro,quinta,dia útil,14:20:00,14,tarde,centro,matriz,roubo,1,s1
31,2009-01-02 00:58:00,2009,1,janeiro,sexta,dia útil,00:58:00,0,madrugada,capão raso,pinheirinho,roubo,2,s1
32,2009-01-02 00:21:00,2009,1,janeiro,sexta,dia útil,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano,2,s1
45,2009-01-02 12:40:00,2009,1,janeiro,sexta,dia útil,12:40:00,12,tarde,centro,matriz,roubo,2,s1

In [95]:
# Reorganiza a ordem das colunas do dataframe
df = df[['data', 'ano', 'mes', 'mesNome', 'semana', 'dia', 'diaSemana', 'tipoDia', 'horario', 'hora', 'periodoDia', 'bairro', 'regiao', 'ocorrencia']]
df

,data,ano,mes,mesNome,semana,dia,diaSemana,tipoDia,horario,hora,periodoDia,bairro,regiao,ocorrencia
2,2009-01-01 15:22:00,2009,1,janeiro,s1,1,quinta,dia útil,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo
9,2009-01-01 14:20:00,2009,1,janeiro,s1,1,quinta,dia útil,14:20:00,14,tarde,centro,matriz,roubo
31,2009-01-02 00:58:00,2009,1,janeiro,s1,2,sexta,dia útil,00:58:00,0,madrugada,capão raso,pinheirinho,roubo
32,2009-01-02 00:21:00,2009,1,janeiro,s1,2,sexta,dia útil,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano
45,2009-01-02 12:40:00,2009,1,janeiro,s1,2,sexta,dia útil,12:40:00,12,tarde,centro,matriz,roubo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429315,2022-12-11 20:52:00,2022,12,dezembro,s2,11,domingo,fim de semana,20:52:00,20,noite,tatuquara,pinheirinho,roubo
429316,2022-12-11 20:33:00,2022,12,dezembro,s2,11,domingo,fim de semana,20:33:00,20,noite,rebouças,matriz,roubo
429331,2022-12-11 23:40:00,2022,12,dezembro,s2,11,domingo,fim de semana,23:40:00,23,noite,centro,matriz,roubo
429341,2022-12-12 05:44:00,2022,12,dezembro,s2,12,segunda,dia útil,05:44:00,5,madrugada,boqueirão,boqueirão,agressão física/verbal
429343,2022-12-12 06:26:00,2022,12,dezembro,s2,12,segunda,dia útil,06:26:00,6,manhã,sítio cercado,bairro novo,roubo

In [98]:
# Renomeia a coluna data para dataHora
column_mapping = {'data' : 'dataHora'}
df = df.rename(columns=column_mapping)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78510 entries, 2 to 429343
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dataHora    78510 non-null  datetime64[ns]
 1   ano         78510 non-null  int32
 2   mes         78510 non-null  int32
 3   mesNome     78510 non-null  object
 4   semana      78510 non-null  object
 5   dia         78510 non-null  int64
 6   diaSemana   78510 non-null  object
 7   tipoDia     78510 non-null  object
 8   horario     78510 non-null  object
 9   hora        78510 non-null  int32
 10  periodoDia  78510 non-null  object
 11  bairro      78510 non-null  object
 12  regiao      78510 non-null  object
 13  ocorrencia  78510 non-null  object
dtypes: datetime64[ns](1), int32(3), int64(1), object(9)
memory usage: 8.1+ MB

In [99]:
# Cria uma nova coluna 'data' contendo somente a data, sem o horário, da ocorrência
df['data'] = df['dataHora'].dt.date
df

,dataHora,ano,mes,mesNome,semana,dia,diaSemana,tipoDia,horario,hora,periodoDia,bairro,regiao,ocorrencia,data
2,2009-01-01 15:22:00,2009,1,janeiro,s1,1,quinta,dia útil,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo,2009-01-01
9,2009-01-01 14:20:00,2009,1,janeiro,s1,1,quinta,dia útil,14:20:00,14,tarde,centro,matriz,roubo,2009-01-01
31,2009-01-02 00:58:00,2009,1,janeiro,s1,2,sexta,dia útil,00:58:00,0,madrugada,capão raso,pinheirinho,roubo,2009-01-02
32,2009-01-02 00:21:00,2009,1,janeiro,s1,2,sexta,dia útil,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano,2009-01-02
45,2009-01-02 12:40:00,2009,1,janeiro,s1,2,sexta,dia útil,12:40:00,12,tarde,centro,matriz,roubo,2009-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429315,2022-12-11 20:52:00,2022,12,dezembro,s2,11,domingo,fim de semana,20:52:00,20,noite,tatuquara,pinheirinho,roubo,2022-12-11
429316,2022-12-11 20:33:00,2022,12,dezembro,s2,11,domingo,fim de semana,20:33:00,20,noite,rebouças,matriz,roubo,2022-12-11
429331,2022-12-11 23:40:00,2022,12,dezembro,s2,11,domingo,fim de semana,23:40:00,23,noite,centro,matriz,roubo,2022-12-11
429341,2022-12-12 05:44:00,2022,12,dezembro,s2,12,segunda,dia útil,05:44:00,5,madrugada,boqueirão,boqueirão,agressão física/verbal,2022-12-12
429343,2022-12-12 06:26:00,2022,12,dezembro,s2,12,segunda,dia útil,06:26:00,6,manhã,sítio cercado,bairro novo,roubo,2022-12-12

In [100]:
# Reorganiza a ordem das colunas do dataframe
df = df[['dataHora', 'data', 'ano', 'mes', 'mesNome', 'semana', 'dia', 'diaSemana', 'tipoDia', 'horario', 'hora', 'periodoDia', 'bairro', 'regiao', 'ocorrencia']]
df

,dataHora,data,ano,mes,mesNome,semana,dia,diaSemana,tipoDia,horario,hora,periodoDia,bairro,regiao,ocorrencia
2,2009-01-01 15:22:00,2009-01-01,2009,1,janeiro,s1,1,quinta,dia útil,15:22:00,15,tarde,fazendinha,fazendinha portão,roubo
9,2009-01-01 14:20:00,2009-01-01,2009,1,janeiro,s1,1,quinta,dia útil,14:20:00,14,tarde,centro,matriz,roubo
31,2009-01-02 00:58:00,2009-01-02,2009,1,janeiro,s1,2,sexta,dia útil,00:58:00,0,madrugada,capão raso,pinheirinho,roubo
32,2009-01-02 00:21:00,2009-01-02,2009,1,janeiro,s1,2,sexta,dia útil,00:21:00,0,madrugada,novo mundo,fazendinha portão,dano
45,2009-01-02 12:40:00,2009-01-02,2009,1,janeiro,s1,2,sexta,dia útil,12:40:00,12,tarde,centro,matriz,roubo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429315,2022-12-11 20:52:00,2022-12-11,2022,12,dezembro,s2,11,domingo,fim de semana,20:52:00,20,noite,tatuquara,pinheirinho,roubo
429316,2022-12-11 20:33:00,2022-12-11,2022,12,dezembro,s2,11,domingo,fim de semana,20:33:00,20,noite,rebouças,matriz,roubo
429331,2022-12-11 23:40:00,2022-12-11,2022,12,dezembro,s2,11,domingo,fim de semana,23:40:00,23,noite,centro,matriz,roubo
429341,2022-12-12 05:44:00,2022-12-12,2022,12,dezembro,s2,12,segunda,dia útil,05:44:00,5,madrugada,boqueirão,boqueirão,agressão física/verbal
429343,2022-12-12 06:26:00,2022-12-12,2022,12,dezembro,s2,12,segunda,dia útil,06:26:00,6,manhã,sítio cercado,bairro novo,roubo

In [102]:
# Salva o dataframe em um csv
df.to_csv('sigesguarda_outlier.csv', index=False)